#h1 {
    text-align: center;
    z-index: -1;
}
#h2 {
    text-align: center;
    z-index: -1;
}
p {
    text-align: center;
    padding: 50px;
    Content: 100px; 
}
#julian {
    position: static;
    margin: 15px;
    z-index: -1;
}
#luisina {
    position: relative;
    left: 0px;
    bottom: 0px;
    top: 00px;
    margin: 15px;
}
#f1 {
    margin-left: 500px;
    margin-right: 50px;
}
#f2 {
    margin-left: auto;
    margin-right: auto
}